* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Heebo;
}

/* header of page */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 65px;
    background-color: #8121D0;
    border-bottom: 3px solid #291C3A;
    position: fixed;
    z-index: 2;
}

/* navigation bar */
header #navigation {
    display: flex;
    flex-direction: row;
    width: 30vw;
}

header a.icon {
    display: none;
}

header #navigation a {
    font: normal normal bold 16px/24px Heebo;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 20px;
}


header #navigation a:hover {
    background-color: #6d1caf;
}

/* my logo and name */
header .logo {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 30vw;
}

.logo .img-logo {
    display: flex;
    align-items: center;
}

.logo .img-logo>a .img2 {
    width: 42px;
    height: 42px;
    margin-top: 0.3em;
}

.logo .img-logo>a .img1 {
    width: 180px;
    margin-top: 0.3em;
}

/* Opening area */
.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    background-color: #331C52;
    /* text-align: center; */
}

.opening>h1 {
    font: normal normal 900 80px/118px Heebo;
    color: #DCCFED;
    padding: 20px;
}

.opening>p {
    width: 40%;
    text-align: center;
    font: normal normal medium 20px/30px Heebo;
    color: #FFFFFF;
}

/* icons of my skills */
.skills-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #291C3A;
    box-shadow: 0 0 5px #00000067;
}

.skills-icons img {
    width: 80px;
}

/* about me area */
.about img {
    width: 7vw;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
    background-color: #E1EBED;
}

.about>h2 {
    font: normal normal 900 35px/52px Heebo;
    color: #331C52;
    padding-top: 10px;
}

.about>p {
    width: 50%;
    text-align: center;
    font: normal normal normal 20px/29px Heebo;
    color: #331C52;
    padding: 20px;
}

/* Resume download button */
.btn-download {
    width: 10vw;
    height: 6vh;
    text-align: center;
    background-color: #331C52;
    font: normal normal bold 16px/24px Heebo;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.4em;
    text-decoration: none;
    cursor: pointer;
}

.btn-download:hover {
    background-color: #291C3A;
}

/* My project gallery */
.container-projects {
    height: 950px;
}

.gallery-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: center;
    margin-top: 5em;
}

.gallery-title>h3 {
    font: normal normal 900 35px/52px Heebo;
    color: #331C52;
}

.gallery-title>p {
    font: normal normal normal 20px/29px Heebo;
    color: #331C52;
    width: 50%;
}

main .container section {
    margin-top: 3em;
}

.container {
    width: 65vw;
}

.card {
    border: 0;
    background-color: #DCCFED;
    box-shadow: 0 0 5px #00000067;
    width: 18rem;
}

.card-img-top {
    width: 96%;
    margin: auto;
    margin-top: 0.3em;
    border-radius: 0.4em;
}

.card-body>h5 {
    font: normal normal bold 20px/30px Heebo;
}

.card-body>p {
    font: normal normal medium 20px/30px Heebo;
}

/* button for page project */
.btn {
    font: normal normal bold 16px/24px Heebo;
    background-color: #331C52;
    border: 0;
}

.btn:hover {
    background-color: #291C3A
}

/* contant us form */
.container-contant {
    display: flex;
    background-color: #DCCFED;
    width: 100vw;
    height: 700px;
}

.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

/* title of the form  */
.container-form-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
}

.container-form-title>h4 {
    font: normal normal 900 35px/52px Heebo;
    color: #331C52;
    padding: 20px;
}

/* form */
form .form-contant {
    display: flex;
    flex-direction: column;
    margin: 0.3em 0;
}

form .form-contant>label {
    font: normal normal bold 16px/24px Heebo;
    color: #2C2C2C;
    text-align: right;
}


form .form-contant>input {
    width: 418px;
    height: 50px;
    background-color: #ebe8ef;
    border: 2px solid #57535c72;
    border-radius: 0.4em;
}

textarea {
    width: 418px;
    height: 100px;
    background-color: #ebe8ef;
    border: 2px solid #57535c72;
    border-radius: 0.4em;
}

/* button submit */
.buttom-submit>button {
    width: 418px;
    height: 6vh;
    text-align: center;
    background-color: #331C52;
    font: normal normal bold 16px/24px Heebo;
    color: #FFFFFF;
    border: 0;
    border-radius: 0.4em;
    text-decoration: none;
    cursor: pointer;
    margin: 1em 0;
}

/* .container-img {
    display: flex;
    justify-content: center;
} */

.container-img>img {
    margin: 6em 0;
}

/* footer */
footer {
    display: flex;
    width: 100vw;
    height: 180px;
    background-color: #331C52;
}

/* social networks */
footer .social-networks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 35%;
    margin: auto;
}

/* social networks-icons */
footer .social-networks .fa {
    width: 55px;
    height: 55px;
    background-color: #b3a8c3;
    color: #331C52;
    font-size: 1.8rem;
    text-align: center;
    text-decoration: none;
    padding: 13px;
    border-radius: 50%;
}


footer .social-networks .fa:hover {
    opacity: 0.6;
}

/* .frame {} */

.frame-bottom {
    width: 100vw;
    height: 25px;
    background-color: #291C3A;
    display: flex;
    justify-content: space-between;

}

.frame-bottom>p {
    color: #FFFFFF;
}

/* responsive to mobile */
@media (max-width:768px) {

    /* header of page */
    header {
        width: 100vw;
        border-bottom: 2px solid #291C3A;
    }

    /* navigation bar */
    header #navigation {
        display: none;
        width: 100vw;
        background-color: #8121D0;
        height: auto;
        margin-top: 13.2em;
        position: absolute;
    }

    /* icon menu for mobile */
    header a.icon {
        display: block;
        position: absolute;
        right: 0.8em;
        top: 0.8em;
        font-size: 20px;
        height: auto;
        width: 100vw;
    }

    header #navigation a {
        font: normal normal bold 16px/24px Heebo;
        color: #FFFFFF;
        text-align: center;
        text-decoration: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 6px;
        border-bottom: 1px solid #FFFFFF;
    }

    /* my logo and name */
    header .logo {
        width: 90vw;
    }

    .logo .img-logo>a .img2 {
        width: 30px;
        height: 30px;
        margin-top: 0.2em;
    }

    .logo .img-logo>a .img1 {
        width: 150px;
        margin-top: 0.2em;
    }

    /* Opening area */
    .opening {
        width: 100vw;
        height: 350px;
        /* text-align: center; */
    }

    .opening>h1 {
        font: normal normal 900 46px/67px Heebo;
        padding: 20px;
    }

    .opening>p {
        width: 80%;
        text-align: center;
        font: normal normal medium 15px/25px Heebo;
        color: #FFFFFF;
    }

    /* icons of my skills */
    .skills-icons {
        width: 100vw;
    }

    .skills-icons img {
        width: 50px;
    }

    /* about me area */
    .about img {
        width: 15vw;
    }

    .about {
        width: 100vw;
        height: 700px;
    }

    .about>h2 {
        font: normal normal 900 25px/37px Heebo;
        padding-top: 10px;
    }

    .about>p {
        width: 80%;
        font: normal normal normal 15px/22px Heebo;
        padding: 10px;
    }

    /* Resume download button */
    .btn-download {
        width: 40vw;
        height: 4vh;
        font: normal normal bold 14px/22px Heebo;
    }

    /* My project gallery */
    .container-projects {
        height: auto;
    }

    .gallery-title {
        width: 100vw;
        margin-top: 5em;
    }

    .gallery-title>h3 {
        font: normal normal 900 25px/37px Heebo;
    }

    .gallery-title>p {
        font: normal normal normal 15px/22px Heebo;
        width: 80%;
    }

    .container {
        width: 100vw;
    }

    .card {
        margin: auto;
        margin-bottom: 1.5em;
        width: 90vw;
    }

    main .container section {
        flex-direction: column;
        margin-top: 0;
    }

    .card-body>h5 {
        font: normal normal medium 16px/24px Heebo;
    }

    .card-body>p {
        font: normal normal normal 16px/24px Heebo;
        text-align: center;
    }


    /* contant us form */
    .container-contant {
        width: 100vw;
        height: 550px;
    }

    .container-form {
        width: 90vw;
        margin: auto;
    }

    /* title of the form  */
    .container-form-title {
        width: 100%;
        justify-content: start;
        align-items: start;
    }

    .container-form-title>h4 {
        font: normal normal 900 25px/37px Heebo;
        padding: 20px;
        text-align: center;
    }

    /* form */
    form .form-contant {
        display: flex;
        flex-direction: column;
        margin: 0.3em 0;
    }

    form .form-contant>label {
        font: normal normal bold 12px/18px Heebo;
        text-align: right;
    }


    form .form-contant>input {
        width: 310px;
        height: 35px;
        border-radius: 0.3em;
    }

    textarea {
        width: 310px;
        height: 60px;
        border-radius: 0.3em;
    }

    /* button submit */
    .buttom-submit>button {
        width: 310px;
        height: 5vh;
        font: normal normal bold 14px/22px Heebo;
        border-radius: 0.3em;
        margin: 1em 0;
    }

    /* .container-img {
        display: flex;
        justify-content: center;
    } */

    .container-img>img {
        margin: 0;
        width: 185px;
        height: 161px;
        display: none;
    }

    /* footer */
    footer {
        width: 100vw;
        height: 160px;
    }

    /* social networks */
    footer .social-networks {
        flex-wrap: wrap;
        width: 50%;
        margin: auto;
    }

    /* social networks-icons */
    footer .social-networks .fa {
        width: 45px;
        height: 45px;
        background-color: #b3a8c3;
        color: #331C52;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: none;
        padding: 10px;
        margin: 0.2em;
        border-radius: 50%;
    }


    footer .social-networks .fa:hover {
        opacity: 0.6;
    }


    .frame-bottom {
        width: 100vw;
        height: 15px;
        background-color: #291C3A;
        display: flex;
        justify-content: space-between;

    }

    .frame-bottom>p {
        font: normal normal 300 9px/13px Heebo;
    }

}