* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: inter, Calibri, sans-serif;

}

/* responsive to mobile */
@media (max-width:768px) {
    body {
        min-height: 75vh;
    }
}